*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
.wrapper{
	background-image:url("assets/peakyblinderslogo.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.5); 
}
.navbar{
   height: 50px;
   width:  100%;
   background: rgba(0,0,0,0.4);
   color: white;
   display: inline-block;

}
.a{
	border: 1px solid white;
}
.a:hover{
	border: 1px solid white;
	border-style: none none solid none;
	transition: 2s;
}